<a href="https://colab.research.google.com/github/HaciYasar/PythonStudies/blob/main/Simple_python_exercises_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_age = 33
your_age = 30 
my_age = your_age # En son atanan değer dikkate alınır. Çıktı en son değeri görür.
print(my_age)   # Atama = ile yapılır. Atama yaptığımız değeri başka bir değerle güncelleye biliriz.

30

In [ ]:
my_age # Örnek çıktı.

30

In [ ]:
x = y = z = "same"
print(x)
print(y)
print(z)    # Tek bir değeri 3 ve daha fazla değişkene atayabiliriz.

same
same
same

In [ ]:
y

'same'

In [ ]:
x

'same'

In [ ]:
jan = march = may = july = agust = october = december = 31
april = june = sept = now = 30  # Eşittirlerle birbirine eşitleyebiliriz.
feb = 28,
print(28, 30, 31)     # Atama yaparken bir tek değeri farklı değişkenlere atayabiliriz

28 30 31

In [ ]:
thomas = 32
marry = 28
walter = None   # Değişkeni None ile rezerve edebiliriz.
isabella = 46

In [ ]:
x = 15
y = 33 
z = x
x = y
print(x)
print(y)
print(z)    # Atanılan değeri bir başka değerle güncelleyebiliriz.

33
33
15

In [ ]:
a, b, c, = 5, 3.2, "Hello"
print(a, b, c)    # Aynı satırda atama yapılabilir. Sıraya göre atama yapar.

5 3.2 Hello

In [ ]:
my_text = 'iyi insan olun'

In [ ]:
print(my_text)

iyi insan olun

In [ ]:
type(my_text) # Atadığımız değerin tipini type ile öğrenebiliriz.

str

In [ ]:
type(a) # Örnek 2

int

In [ ]:
str_number = "1923"
str_sing = "%(#&*?-"

In [ ]:
print(str_number)
print(str_sing)
print(type(str_number), type(str_sing)) # type fonksiyonu str diye bir şeyi kabul etmez.

1923
%(#&*?-
<class 'str'> <class 'str'>

In [ ]:
# Ondalık olmayan sayılara integer sayılar denir. Tam sayılardır negatif ve pozitif.

In [ ]:
# Float sayılar noktalı sayılardır. 18.66 - 40.0 gibi.

In [ ]:
10 == 10.0 # Örnek

True

In [ ]:
float(0) # Örnek

0.0

In [ ]:
"10"    #string
10      #integer
10.10   #float

In [ ]:
type(0.0) # Örnek tam sayılarda negatif olabiliyor floatlarda float olabliyor.

float

In [ ]:
# Boolean true false alır.

In [ ]:
# str() fonksiyonu string e çevirir. Fonksiyonlar parantezler ile çağırılır.
# int() fonksiyonu integer e çevirir.
# float() fonksiyonu float a çevirir.

In [ ]:
int("10") # String i integer a dönüştürür.

10

In [ ]:
a = int("11")   # Örnek
type(a)

int

In [ ]:
int("onbir") # Stringe mantıklı textler integere çevirmeliyiz
int("ten")

ValueError: ignored

In [ ]:
pi = 3.14
converted_pi = str(pi)
print(converted_pi)
print(type(converted_pi))

3.14
<class 'str'>

In [ ]:
str(3.14) # Float stringe çevrilebilir.

'3.14'

In [ ]:
int(3.14) #İnteger fonksiyonu virgülden sonrasımnı alıyor. Tam sayıya çeviriyor.

3

In [ ]:
float(11)  # İnteger i floata çevirebiliriz.

11.0

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

In [ ]:
print(x-int(v))   # Bu şekilde işlemler yapılabilir.
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [ ]:
"33" + "44"   # String olarak toplama yapıldığında sayıları birbirinr yapıştırır.

'3344'

In [ ]:
33 + 11 # İnteger olarak toplama yapılabilir.

44

In [ ]:
"33" + 11   # Bir strinle bir integer i toplayamazsınız.

TypeError: ignored

In [ ]:
number_int = 123
number_flt = 1.23
number_new = number_int + number_flt

In [ ]:
print("datatype of number_int:", type(number_int))

datatype of number_int: <class 'int'>

In [ ]:
# + toplam
# - çıkartma
# * çarpma
# / bölme
# // bölmede bölüm
# % bölmede kalan
# ** üstlü sayılar
# % flor sonuç

In [ ]:
43 // 5 #floor kullanılırsa bölüm sonucunu alırız.

8

In [ ]:
43 % 5 # moodulus kullanırsak kalan sonucu alırız.

3

In [ ]:
 num1, num2 = 81, 55    # Atanan textler sayı ise işlem yapılabilir.
 num3 = num1 - num2
print(num3)

26

In [ ]:
pi = 3.14   # Üçgen alanı hesaplama
r = 5
area = pi * r**2
print(area)

78.5