<a href="https://colab.research.google.com/github/HaciYasar/PythonStudies/blob/main/Simple_python_exercises_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input('Adınızı girin :')
print('Merhaba, ' + a + ' hoşgeldin.')

Adınızı girin :Hacı
Merhaba, Hacı hoşgeldin.

In [ ]:
negative_number  = -12366
print(abs(negative_number))

12366

In [ ]:
complex_number = 3+5j
print(abs(complex_number))

5.830951894845301

In [ ]:
x = pow(3, 4)
print(x)

81

In [ ]:
class Person:
  name = "Chirag Goyal"
  age = 19
  country = "India"
  education = "IIT Jodhpur"
print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'education', 'name']

In [ ]:
tuple = ("5", "a", "4", "b", "1", "6", "c", "2")
print(sorted(tuple))

['1', '2', '4', '5', '6', 'a', 'b', 'c']

In [ ]:
a = (1, 2, 3, -4, 6) 
print(sum(a, 7))

15