<a href="https://colab.research.google.com/github/HaciYasar/PythonStudies/blob/main/Simple_python_exercises_6_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuple kodlar iterable eleman alır. listeler tupleye, tuple listeye çevrilebilir.

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
my_list = list(my_tuple)

In [ ]:
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]    #Tuple listeye çevrilebilir.
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
tuple(range(1, 11))  # range belirtilen sayı aralığını bulur

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
sayılar = tuple(range(1, 11))

In [ ]:
sayılar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
list_sayılar = list(sayılar)  # Listeye atama yapabiliriz.

In [ ]:
list_sayılar

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_sayılar[2] = 33    # Listenin içerisine atama yapabiliriz.
list_sayılar

[1, 2, 33, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_sayılar[-1] = "ten"  # string eleman atayabiliyoruz.
list_sayılar      # Tuple içerisine atama yapamayız.

[1, 2, 33, 4, 5, 6, 7, 8, 9, 'ten']

In [ ]:
## Dİctionary

In [ ]:
first_dict = {1:"one", "two":2, False:[1, 2, 3], 1.5: ("one", "two"), (1,2):"clarusway"}
first_dict

{(1, 2): 'clarusway',
 1: 'one',
 1.5: ('one', 'two'),
 False: [1, 2, 3],
 'two': 2}